<!doctype html>
<html>
  <head>
    <title>{{ site.title }}</title>
  </head>
  <body>
    <h1>{{ site.title }}</h1>
    <p>Site name: {{ site.name }}</p>
    <p>Port: {{ site.port }}</p>
    <p>Root: {{ site.root }}</p>
    <p>Host: {{ inventory_hostname }}</p>
  </body>
</html>